* {
    box-sizing: border-box;
  }
a:link {
  text-decoration: none;
  text-justify: auto;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  #section2 {
    float: right;
  }
  .hidden {
    display: none;
  }
  #contact {
    font-size: 20px;
}
html {
  font-family: 'Rajdhani', sans-serif;
}
nav {
  height: 24px;
}
ul {
  margin: 0;
  padding-top: 5px;
  background-color: #151965;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}
  li {
    color: #37c2bd;
    text-shadow: .5px .5px #1d4d4f;
    font-size: 16px;
    opacity: .8;
      transition: .2s;
      cursor: pointer;
      display: inline;
      opacity: .8; 
  }
  nav li:hover {
   color: #207561;
   opacity: 1;
  }
  body { 
    text-align: center;
    line-height: 1.5;
    background-color: #ffffff;
  }
  footer {
    padding: 5% 0;
    color: #a35638
  }
  .quote {
    font-family: 'Rock Salt', cursive;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: #29a19c;
    text-shadow: 1px 1px #1d4d4f;
    font-size: 24px;
    align-items: center;
  }
  #header {
    border-top:1pt solid #ffffff;
    background-image: url('/new-portfolio-jt/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
    width: 100%;
    max-height: 150px;
    min-height: 150px;
    padding-top: 0;
  }
  .bio-title {
    font-family: 'Rock Salt', cursive;
  }
  #bio {
    text-align: left;
    font-size: 12px;
    padding: 20px;
  }
.contact-section {
    justify-content: center;
    align-items: center;
    margin: 10px;
}
  .seth {
    margin-top: 15%;
  }
  #seth-quote{
margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 12px;
    font-family: 'Rock Salt', cursive;
  }
  #seth-name {
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
  }
  .logo-container {
    margin: 0 0;
    text-align: left;
  }
  .logo {
    max-height: 30px;
    margin-top: 5px;
    width: auto;
    text-align: left; 
  }
  section {
    min-height: 100px;
    color: #a35638;
    text-align: center;
    line-height: 1.5;
  } 
  .quiz-app, img{
    width: 100%;
    height: auto;
  }
  .current-projects {
    color: #a35638;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-family: 'Rock Salt', cursive;
  }
  .my-projects {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
  }
  .project {
    font-size: 16px;
  }
  .aside {
    margin-top: 10%; 
    color: #a35638;
    font-size: 16px;  
}
.aside-b{
  justify-content: center;
  align-items: center;
  color: #a35638;
  font-size: 16px;  
}
.fa {
  margin: 2px;
  padding: 7px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  justify-content: center;
  text-align: center;
  text-decoration-line: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: #2c4762;
    color: white;
  }
  #speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  #speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #00aabb;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
  }
  footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #1d4d4f;
  }
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 500px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .hidden {
        display: inline;
      }
    .aside {
      font-size: 16px;
    }
    #bio {
      font-size: 12px;
    }
    .quote {
      font-size: 32px;
    }
  }